extends layouts/default

block content

  section.section.mt-4
    .content-collapse 
      button#collapse-button.content-collapse__button(data-toggle="collapse" data-target="#collapse-list" aria-expanded="true")
        span Содержание
        svg(width='10' height='7' viewBox='0 0 10 7' fill='none' stroke='currentColor' xmlns='http://www.w3.org/2000/svg')
          path(d='M1 1L5 5L9 1')

      ul#collapse-list.content-collapse__list.show(data-parent="#collapse-button")
        li.content-collapse__item
          a(href=localUrl+"/#section-item-1" data-action="ScrollToAnchor").content-collapse__link Как сократить расходы на обслуживание ДСО
        li.content-collapse__item
          a(href=localUrl+"/#section-item-2" data-action="ScrollToAnchor").content-collapse__link Совместимость с оборудованием
        li.content-collapse__item
          a(href=localUrl+"/#section-item-3" data-action="ScrollToAnchor").content-collapse__link Запчасти для конусных и гирационных дробилок
        li.content-collapse__item
          a(href=localUrl+"/#section-item-4" data-action="ScrollToAnchor").content-collapse__link Части щековых дробилок
        li.content-collapse__item
          a(href="").content-collapse__link Части для роторных дробилок
        li.content-collapse__item
          a(href="").content-collapse__link Запчасти валковых дробилок
        li.content-collapse__item
          a(href="").content-collapse__link Запчасти грохотов и питателей
        li.content-collapse__item
          a(href="").content-collapse__link Части общепромышленного назначения
        li.content-collapse__item
          a(href="").content-collapse__link Стоимость запчастей для дробилок и грохотов
        li.content-collapse__item
          a(href="").content-collapse__link Индивидуальный инжиниринг
        li.content-collapse__item
          a(href="").content-collapse__link Гарантия и сроки поставки

  section#section-item-1.section.content-section
    .row.align-items-lg-center
      
      .content-section__image.order-md-2.col-10.col-md-6.col-lg-6.offset-lg-1
        .content-image.content-image_mobile-left
          img(src=localUrl+"/assets/images/1-min.jpg", alt="image")

      .col-11.offset-1.col-md-12.offset-md-0
        .heading-numbered-title
          span.heading-numbered-title__index 1
          h2.heading-numbered-title__element Как сократить расходы<br> на обслуживание ДСО

      .content-section__text.order-md-2.col-10.offset-2.col-md-6.offset-md-0.col-lg-5.pl-lg-5
        p Преждевременный износ запчастей для дробилок влечет за собой остановку оборудования и убытки.
        p В некоторых случаях потери от простоя в десятки раз превышают стоимость самих деталей. Поэтому задача горных предприятий ремонтировать дробильное и сортировочное оборудование редко и только планово.

        a(href="#").case-link.mt-lg-4
          span Кейс: Повышение ходимости футеровки дробилки «Уралмаш КСД 1750» от 22% до 100% 

  section.section.content-section
    .row.align-items-lg-center
      
      .content-section__image.order-md-2.col-10.offset-2.col-md-6.offset-md-0.col-lg-5
        .content-image.content-image_mobile-right
          img(src=localUrl+"/assets/images/2-min.jpg", alt="image")

      .content-section__text.order-md-2.col-10.offset-1.col-md-6.offset-md-0.col-lg-5.offset-lg-1
        p Cтоимость частей Element в перерасчете на тонну переработанного материала ниже деталей от производителей горного оборудования до четырех раз. Узнайте, насколько вы можете увеличить ходимость футеровок для дробилок на вашем предприятии. Специалисты Element рассчитают, насколько вы можете увеличить межремонтный интервал дробильно-сортировочного оборудования (ДСО).
        
        button(type="button" data-toggle="modal" data-target="#contact-us-modal").mt-lg-4.rounded-button РАССЧИТАТЬ ХОДИМОСТЬ

  section#section-item-2.section.content-section
    .row.align-items-lg-center
      
      .content-section__image.order-md-2.col-10.col-md-6.col-lg-6.offset-lg-1
        .content-image.content-image_mobile-left
          img(src=localUrl+"/assets/images/3-min.jpg", alt="image")

      .col-11.offset-1.col-md-12.offset-md-0
        .heading-numbered-title
          span.heading-numbered-title__index 2
          h2.heading-numbered-title__element Совместимость с фирменным<br> оборудованием

      .content-section__text.order-md-2.col-10.offset-2.col-md-6.offset-md-0.col-lg-5.pl-lg-5
        p Element выпускает запчасти, совместимыес оборудованием большинства брендов (Sandvik®, Telsmith®, Terex®, ThyssenKrupp®, TRIO®, Zenith®, «Уралмаш»® и др.). Производитель гарантирует соответствие по материалу изготовления, геометрическим и эксплуатационным параметрамOEM. При этом компания дает гарантию на наработку,а также предлагает модификацию геометриии материала на заказ.
        p Каталог Element включает более 59 тыс. наименований запчастей: валы, кольца, втулки, передаточные механизмы, подшипники, боковые футеровки, дробящие плиты, бронеконусы, бронекольца, корпусные детали и пр. 

  section#section-item-3.section.content-section
    .row.align-items-lg-center
      
      .content-section__image.order-md-2.col-10.offset-2.col-md-6.offset-md-0.col-lg-6.offset-lg-1
        .content-image.content-image_mobile-right
          img(src=localUrl+"/assets/images/4-min.jpg", alt="image")

      .col-11.offset-1.col-md-12.offset-md-0
        .heading-numbered-title
          span.heading-numbered-title__index 3
          h2.heading-numbered-title__element Запчасти для конусныхи<br> гирационных дробилок

      .content-section__text.order-md-2.col-10.col-md-6.col-lg-5.pl-lg-5
        p Element   производит   части   для   конусных дробилокс консольным и подвесным валами, а такжедля гирационных дробилок различных брендов.

  section.section.content-section
    .row.align-items-lg-center
      
      .content-section__image.order-md-2.col-10.col-md-6.col-lg-5
        .content-image.content-image_mobile-left
          img(src=localUrl+"/assets/images/5-min.jpg", alt="image")

      .content-section__text.order-md-2.col-10.offset-1.col-md-6.offset-md-0.offset-lg-1
        h2 Футеровки дробилок
        p Футеровки конуса, чаши, траверсы,  приводного  вала,  рамы, а также распределительные диски и плиты. 
        p Комплектующие для дробилок от Element — это гарантированная совместимость с любым типом дробильного оборудования, качественные материалы, полный контроль производственного цикла. 
        
        button(type="button" data-toggle="modal" data-target="#contact-us-modal").submit-button.ml-0.mt-3.mt-lg-4
          span.submit-button__wrapper
            span Подробнее

  section.section.content-section
    .row.align-items-lg-center
      
      .content-section__image.order-md-3.col-10.offset-2.col-md-6.offset-md-0.col-lg-5.offset-lg-1
        .content-image.content-image_mobile-right
          img(src=localUrl+"/assets/images/6-min.jpg", alt="image")

      .content-section__text.order-md-2.col-10.offset-1.col-md-6.offset-md-0
        h3 Технология THOR: минимальный износ футеровок
        p THOR — технология модификации структуры марганцовистой стали. В расплавленный металл добавляется модификатор. Благодаря ему структура получается более однородной и плотной. Это также снижает вредные примеси и неметаллические включения, что увеличивает прочность изделия. 
        p Element применяет технологию THOR для производства броней для щековых, конусных и гирационных дробилок, а также литых изнашиваемых частей для питателей. 
        
        a(href="#").case-link.mt-lg-4
          span Кейс: Испытания броней THOR от Element на дробилку «Уралмаш»

        button(type="button" data-toggle="modal" data-target="#contact-us-modal").submit-button.ml-0.mt-3.mt-lg-4
          span.submit-button__wrapper
            span Подробнее

  section.section.content-section
    .row.align-items-lg-center
      
      .content-section__image.order-md-2.col-10.col-md-6.col-lg-5
        .content-image.content-image_mobile-left
          img(src=localUrl+"/assets/images/7-min.jpg", alt="image")

      .content-section__text.order-md-2.col-10.offset-1.col-md-6.offset-md-0.col-lg-5.offset-lg-1
        h3 Запасные, аварийные и капитальные части
        p Втулки  разного  назначения, отжигаемые  кольца,  гайки конуса,  подшипники  скольжения,  опоры,  кронштейны, пластины,  уплотнения,  прокладки,  пружины,  конические и сферические подшипники; валы, части рамы, шестерни, эксцентрики
        .row.align-items-center.mb-4.mt-4
          .col-auto 
            img(src=localUrl+"/assets/images/ico212.svg", alt="image")
          .col Широкая складская программа: получите аварийные части в течение двух недель.
        p Полный список доступного оборудования к вашей дробилке от менеджера Element
        
        button(type="button" data-toggle="modal" data-target="#contact-us-modal").mt-lg-4.rounded-button ЗАПРОСИТЬ СПИСОК

  section#section-item-4.section.content-section
    .row.align-items-lg-center
      
      .content-section__image.order-md-2.col-10.offset-2.col-md-6.offset-md-0.col-lg-6.offset-lg-1
        .content-image.content-image_mobile-right
          img(src=localUrl+"/assets/images/8-min.jpg", alt="image")

      .col-11.offset-1.col-md-12.offset-md-0
        .heading-numbered-title
          span.heading-numbered-title__index 4
          h2.heading-numbered-title__element Части щековых<br> дробилок

      .content-section__text.order-md-2.col-10.col-md-6.col-lg-5.pl-lg-5
        p К Element обращаются для решения двух проблем: 
        ul 
          li Низкое качество готового продукта: высокая лещадность, слишком крупная фракция.
          li Низкая наработка футеровок, связаннаяс использованием неподходящего профиляи материала.
        p Использование плит от Element:
        ul 
          li Повышает качество готового продукта
          li Сокращает времени простоя фабрики на перефутеровки
          li Снижает расходы фабрики
        a(href="#").case-link.mt-lg-4
          span Кейс: Увеличена наработка футеровок щёк
  
  section.section.content-section
    .row.align-items-lg-center
      
      .content-section__image.order-md-3.col-10.col-md-6.col-lg-5.offset-lg-1
        .content-image.content-image_mobile-left
          img(src=localUrl+"/assets/images/9-min.jpg", alt="image")

      .content-section__text.order-md-2.col-10.offset-1.col-md-6.offset-md-0
        h3 Element TC
        p Футеровки, изготовленные из стандартных сплавов С, D, D1 и усиленные вставками из карбида титана. Показывают более высокую устойчивость к ударной нагрузке и трещинообразованию. Такой эффект достигается специальными процессами литья и термообработки готового изделия. В ходе испытаний футеровки со вставками показали наработку от 1,5 до 4 раз больше в сравнении с классическими бронями из марганцовистой стали без вставок. Element TC Mn13Cr2 — С – для неабразивных пород малой и средней крепости Mn18Cr2 — D – для общего применения Mn22Cr — D1 – для наиболее крепких и абразивных пород

  section.section.content-section
    .row.align-items-lg-center
      
      .content-section__image.order-md-2.col-10.offset-2.col-md-6.offset-md-0.offset-md-0.col-lg-5
        .content-image.content-image_mobile-right
          img(src=localUrl+"/assets/images/10-min.jpg", alt="image")

      .content-section__text.order-md-2.col-10.offset-1.col-md-6.offset-md-0.offset-lg-1
        h3 Боковые футеровки, отбойные плиты и крепёж
        p Предлагаем стандартный крепёж – болты, гайки, шайбы, – и специальные крепёжные изделия: клинья, прижимные и поддерживающие планки. <br>Боковые футеровки рамы и отбойную плиту подвижной щеки изготавливаем из марганцовистой стали или износостойкой стали с высокой твёрдостью по Бринеллю.
        button(type="button" data-toggle="modal" data-target="#contact-us-modal").submit-button.ml-0.mt-3.mt-lg-4
          span.submit-button__wrapper
            span Подробнее