doctype html
html(lang='he-IL' dir="rtl")
  head
    meta(charset="utf-8")
    title Map
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='format-detection' content='telephone=no')
    //styles
    link(rel="stylesheet" href="./styles/common.css")

  body
    -var href = function(index) { return `https://new.netanya.muni.il/CityHall/Engineering/UrbanRenewal/Pages/%d7%9b%d7%a8%d7%98%d7%99%d7%a1%d7%99%20%d7%9e%d7%aa%d7%97%d7%9d/mitham${index}.aspx` };
 
    .wrapper 
      .map 
        .map__controls 
          button(aria-label='zoom in').map__control.map__control_zoom-in
          button(aria-label='zoom out').map__control.map__control_zoom-out 

        .map__scroll
          .map__inner
            .map__inner-elements 
              img(data-src="./img/map.svg", alt="map").lazyload.map__image
              svg(viewBox='0 0 842.3 1190.2').map__regions
                polygon.region( onclick=`goToPage('${href(3)}');` points='325.8,255.4 322.6,228.5 335.5,215.4 360,206.7 416.6,214.6 405.1,307.6 371.2,303.2 375.9,262.7 ')
                polygon.region( onclick=`goToPage('${href(4)}');` points='324.8,259.1 325,298.7 371.2,303.2 375.4,265.7 ')
                polygon.region( onclick=`goToPage('${href(5)}');` points='207.6,311.6 192.7,382.1 196.5,427.4 207.5,445.2 244,396.2 258.4,318.5 ')
                path.region(    onclick=`goToPage('${href(6)}');` d='M253,370.7l8.9-46.8l49.4,6.2C312.8,349,296,457,296,457l-29.1-3.6l11.6-77.8L253,370.7z')
                path.region(    onclick=`goToPage('${href(7)}');` d='M404.3,307.4l-9.4,53.8l-76.3-9.9c0,0,7-31.2,6.4-52.6L404.3,307.4z')
                polygon.region( onclick=`goToPage('${href(8)}');` points='317,355.4 312.5,395.5 364.4,401.6 371.6,361.6 ')
                polygon.region( onclick=`goToPage('${href(9)}');` points='372.5,362 365.4,432.2 395.4,436.1 403.8,364.6 ')
                path.region(    onclick=`goToPage('${href(10)}');` d='M253,370.7c0,0-1.7,15.2-4.8,22.8c-3.2,7.7-25.2,39-25.2,39l9.8,4l7.1-6.6l4.2,4.6l7.4,1.2l-1,7.2l12.3,2.2l11.1-70.4L253,370.7z')
                path.region(    onclick=`goToPage('${href(11)}');` d='M310.6,398l55.2,4.4c0,0-2.1,23.8-3.5,26.5l-53.7-4.8L310.6,398z')
                path.region(    onclick=`goToPage('${href(12)}');` d='M192.7,382.1c0,0-10.6,1.1-11.9,3c-1.3,1.9-1.4,5.5-2,6.2s-5.9,7.1-5.9,7.1S154,498.7,151.5,505.9s-5.5,19.5-6.7,22s-16.3,33.2-16.3,33.2l36,8.5c0,0,20.8-71.7,25.2-77.8c4.3-6.2,17.8-46.5,17.8-46.5l-11-17.8L192.7,382.1z')
                path.region(    onclick=`goToPage('${href(13)}');` d='M182.2,525.2l30.6,7.3c0,0,10.9-35.8,12.1-44.2c1.2-8.3,8.9-49.2,8.9-49.2s-13.2-4.2-14.3-4.2s-8.5,9-8.8,10s-18,45.4-21.2,54C186.2,507.5,182.2,525.2,182.2,525.2z')
                path.region(    onclick=`goToPage('${href(14)}');` d='M232.8,436.6l3.8,2.3c0,0-8,44.5-9.8,50.5s-10.7,44.3-10.7,44.3l29.7,11.3l17-100l-12.3-2.2l1-7.2l-7.4-1.2l-4.2-4.6L232.8,436.6z')
                polygon.region( onclick=`goToPage('${href(15)}');` points='266.9,453.4 296,457 305.3,429.2 322.2,431.7 318.5,538.9 289.5,560.4 266.3,553.7 252.8,552.9 248.5,544.9 ')
                polygon.region( onclick=`goToPage('${href(16)}');` points='326.9,433.1 324.1,492 358.5,495.7 362.6,438.7 360.4,436.4 ')
                polygon.region( onclick=`goToPage('${href(17)}');` points='323.8,494.7 322.5,539 355.6,540.2 357.5,499.6 ')
                polygon.region( onclick=`goToPage('${href(18)}');` points='366.2,436.7 361.7,495.6 364,497.1 358.7,541.2 382.8,542.4 391.2,439.9 ')
                path.region(    onclick=`goToPage('${href(30)}');` d='M132,609.9l-19.8,86l-2.2-0.2l-2.5,8.6l0.4,6.9l5.2,0.8l0.7,11.1l1.8,4.6l11.7,9.2l6.1-6.1l-3.8-10.1l2-2.2l8.7-2.9c0,0,11.5-80.5,11.6-86.3S152,613,152,613L132,609.9z')
                path.region(    onclick=`goToPage('${href(31)}');` d='M151.8,629.2l19.4-0.5l6.8,57.6l-8.1,27.9l-27.1,32l-6.1-3.4l-8.3-7.1l4.8-5.4l-2.7-7.2l8.5-5.4l1.4-2.2C140.2,715.6,151.8,637.1,151.8,629.2z')
                path.region(    onclick=`goToPage('${href(32)}');` d='M177.3,639.7l5.3,47.5l-9.8,29.5l-7.5,10.5l16,11.8c0,0,16.8-25.7,21.3-38.2s17.3-38.8,17.3-38.8l-14.6-16.1c0,0-11.8-6.1-13.9-6.3S177.3,639.7,177.3,639.7z')
                path.region(    onclick=`goToPage('${href(33)}');` d='M222.8,665.6c0,0-10.1,22-16.5,35.9S185.6,742,185.6,742l22.9,16.9L251,701L222.8,665.6z')
                path.region(    onclick=`goToPage('${href(34)}');` d='M253.2,702.7l-43.7,59.8l43.5,27l18.4-70C271.4,719.4,261.7,713.1,253.2,702.7z')
                polygon.region( onclick=`goToPage('${href(35)}');` points='274.3,721.7 256.7,791.4 281,801.2 299.7,732.9 ')
                polygon.region( onclick=`goToPage('${href(36)}');` points='302,733.2 284.3,800.7 310.5,807.1 330.8,744.9 ')
                path.region(    onclick=`goToPage('${href(37)}');` d='M95,702.9l4.2-0.6l10.9,15.2l4.7,12.4l21.8,18.9c0,0-12.9,22-15.1,32.6s-15,65.1-15,65.1l-13.6-4.8l-10-17.8c0,0,0-16.6,0.6-19.4s14.2-59.6,14.2-59.6l-7.4-2l4.5-10.2L91.2,713L95,702.9z')
                path.region(    onclick=`goToPage('${href(38)}');` d='M162.7,731.1c0,0-32.9,36.2-34.2,41.7s-10.1,38.6-10.1,38.6s6.9,0.4,8.8-0.8s5.2-4.1,5.2-4.1l16.4,16.6c0,0,24.3-20.6,25.8-22.7c1.5-2.1,27.4-36.8,28.2-37.6s-2.1-5.2-3.6-6.2S162.7,731.1,162.7,731.1z')
                path.region(    onclick=`goToPage('${href(39)}');` d='M223.6,773l-21.8,32.6l-12.4,51.2l44.8,11.1l19.6-74.9C253.9,793.1,246.9,786.9,223.6,773z')
                path.region(    onclick=`goToPage('${href(40)}');` d='M254.9,793.9l-15.7,75.2l24.2,6c0.9-12.8,17.8-70.1,17.8-70.1L254.9,793.9z')
                path.region(    onclick=`goToPage('${href(41)}');` d='M285.8,805.5c0,0-10.6,41.2-12.8,45.9c-2.2,4.7-6.4,24.5-6.4,24.5l29.5,9.4l15.5-72.2L285.8,805.5z')
                polygon.region( onclick=`goToPage('${href(42)}');` points='105.3,849.5 89.3,844.1 79.9,846.5 72.2,859.5 55.1,930.4 84.8,938.4 ')
                path.region(    onclick=`goToPage('${href(43)}');` d='M163.1,820.1l-9.2,2.8l-3.4,4.1l-16.8-16.8l-14.9,4.9l-4.2,13.2l-22.7,99.1l3.6,10.8l5.4,1.5l0.8-16.2l7.4-15.6l4.7-2.3l4.8,8.9l22.6,3.9c0,0,23.7-83.4,23.8-87.4c0.2-4,1.2-9.1,1.2-9.1L163.1,820.1z')
                path.region(    onclick=`goToPage('${href(44)}');` d='M166.1,815.4l21.8-21.8l10.7,6.7c-0.5,15-30.5,126-30.5,126l-23.5-6.2c0,0,24.1-87.6,24.8-91.9s-0.2-7.9-0.2-7.9L166.1,815.4z')
                path.region(    onclick=`goToPage('${href(45)}');` d='M100.8,939.8l3-15.6l4.9-15.6l4.8,6c3.2,3.7,53.6,14.5,53.6,14.5s-5.4,23.4-5.8,25.1c-0.4,1.7-5.2,2.1-6.3,1.6S100.8,939.8,100.8,939.8z')
                polygon.region( onclick=`goToPage('${href(46)}');` points='189,861.1 245.7,874.7 246.5,881.6 231,933.6 200.5,925.6 190.7,963.1 165.5,956.9 ')
                polygon.region( onclick=`goToPage('${href(47)}');` points='190.7,963.1 203.4,966.9 209.8,943.9 229,947.7 233,934.5 200.5,925.6 ')
                polygon.region( onclick=`goToPage('${href(48)}');` points='209.6,944.4 229,947.7 233,934.5 246.5,881.6 249.1,875.9 292,888.4 292.8,908.9 274.2,986.7 203.4,966.9 ')
                path.region(    onclick=`goToPage('${href(51)}');` d='M429.8,215.7l-15.2,113.4l24.5,2.4c0,0,6.8-33.5,7.8-41.4s7.1-56.4,7.1-56.4l2.1-0.2l2.5-14.5L429.8,215.7z')
                path.region(    onclick=`goToPage('${href(52)}');` d='M456,233.5l2.5-14.5l1.8-2.4l52.7,5.8l-3.9,20.1l6.2,14.5l-12.6,7.4c0,0-10.1-16.3-18.7-20.4c-8.6-4.1-23.9-9.8-23.9-9.8L456,233.5z')
                path.region(    onclick=`goToPage('${href(53)}');` d='M512,227.9l3.1-5.2l73.8,7.6c0,0-4.5,20-5.2,21.8s-13.1,12.2-16.4,13.4S531.9,282,531.9,282l-16.5-25l-6.2-14.5L512,227.9z')
                path.region(    onclick=`goToPage('${href(54)}');` d='M570.1,267.1l16.5-13.5l5.1-20l35.4,5.6l-19.5,51.6c0,0-25.2-7.1-25.8-8.2S570.1,267.1,570.1,267.1z')
                polygon.region( onclick=`goToPage('${href(59)}');` points='566.9,267.2 535.6,285.4 549,311.2 560.5,325.7 578.8,283.6 ')
                path.region(    onclick=`goToPage('${href(57)}');` d='M460.2,234.2l-8.8,52.1l1,2.2h7.1l39.9-23.2c0,0-11.8-19.5-21.5-24.2S460.2,234.2,460.2,234.2z')
                polygon.region( onclick=`goToPage('${href(58)}');` points='451.3,291.7 463,290.1 514.2,258.7 530.7,284.6 467.2,320.8 461.6,325.2 450.8,330.9 446.7,330 447.3,311.2 ')
                polygon.region( onclick=`goToPage('${href(63)}');` points='447.1,334.9 445.5,345.4 460.6,353.9 491.4,414 557.6,377.9 548.8,360.6 569.6,349.2 530.7,284.6 467.2,320.8 461.6,325.2 ')
                polygon.region( onclick=`goToPage('${href(64)}');` points='663.7,369.9 666.8,360.1 682.8,365.2 680.8,375.6 702.2,380.4 696.2,402.9 638,387.4 645,365.2 ')
                polygon.region( onclick=`goToPage('${href(65)}');` points='412.5,347.5 438.6,349.4 438.1,365 429.5,435 403.6,432.5 ')
                polygon.region( onclick=`goToPage('${href(72)}');` points='401.5,446.4 404.8,441 430.8,442.1 418.3,543.9 393.8,542.1 ')
                polygon.region( onclick=`goToPage('${href(83)}');` points='652.3,552.1 639.5,590.4 668.2,599.6 684.5,562.9 ')
                polygon.region( onclick=`goToPage('${href(86)}');` points='645.5,572.5 632.4,568.5 622.2,606.4 611,611.2 614,621.5 617.2,622.5 622.8,620.7 626.8,616.7 635.8,625.9 652.1,636.1 667.6,608 668.2,599.6 639.5,590.4 ')
                path.region(    onclick=`goToPage('${href(88)}');` d='M498.2,708.1l31.5-26l23-34.2l11.1,5.7l-4.8,8l11.2,6.8L543,720.2l-9.2,10c0,0-31.1-18.3-31.3-18.4S498.2,708.1,498.2,708.1z')
                polygon.region( onclick=`goToPage('${href(90)}');` points='626.8,616.7 635.8,625.9 652.1,636.1 635.4,671.2 627.9,677.7 614.6,672.4 623.9,647.2 624.1,641.4 622.8,620.7 ')
                polygon.region( onclick=`goToPage('${href(91)}');` points='614.6,672.4 600.4,696.4 585.8,694.9 569.2,696.7 568.5,715.4 562.4,727.9 559.4,730.9 544.9,721.4 576.5,665.5 585.9,650.5 618.4,661.5 ')
                polygon.region( onclick=`goToPage('${href(92)}');` points='614.6,672.4 627.9,677.7 623.8,697.1 625.6,701.4 618.9,733.6 599.1,729.7 601.2,707.6 606.8,685.6 ')
                path.region(    onclick=`goToPage('${href(112)}');` d='M279.2,991.2c0,0,52,9.2,67.7,17.3c0,0-15.6,58.7-16.8,61.8c-1.2,3.2-25.3,54-25.3,54l-50.8-10L279.2,991.2z')
                path.region(    onclick=`goToPage('${href(113)}');` d='M347.5,1020.1l12.2-38l60.5,15.5c0,0-4.5,29.7-4.3,33.7l-10.2,8.3l-6-3.1l-4.6,3.2l-0.1,2.7l-19.5-3.2l2.1-11.2L347.5,1020.1z')
    
    //libs
    script(src="./scripts/libs/lazysizes.min.js")
    //scripts
    script(src="./scripts/scripts.js")