-var href = 'https://ruslanmmr.github.io/work/StroykerPro/build'
-var href = 'http://localhost:9000'

block variables

html(lang='ru')
  head
    base(href="https://stroyker.pro/")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='keywords' content='Список, проектов')
    title Шаблон
    link(rel='stylesheet' href='/static/css/owl.carousel.min.css')
    link(rel='stylesheet' href='/static/css/owl.theme.default.min.css')
    link(rel='stylesheet' href='/static/css/jquery.mCustomScrollbar.min.css')
    link(rel='stylesheet' href='/static/libs/bootstrap/css/bootstrap-grid.min.css')

    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;800&family=Russo+One&display=swap&family=Montserrat:wght@800&display=swap' rel='stylesheet')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js')
  
    meta(property='og:title' content='STROYKER.PRO')
    meta(property='og:site_name' content='Разработка сайтов')
    //ссылка на текущую страницу абсолютная
    meta(property='og:url' content=href)
    meta(property='og:description' content='Умные интернет магазины стройматериалов и сайты для строительных компаний')
    //Абсолютная ссылка на картинку
    meta(property='og:image' content='https://stroyker.pro/media/cache/ed/06/ed067a64f0861f0286893179167192cf.jpg')

    link(rel='stylesheet' href=href+'/styles/main.css')
    link(rel='stylesheet' href=href+'/styles/media.css')
    link(rel='stylesheet' href=href+'/styles/custom.css')
    link(rel='stylesheet' href=href+'/styles/new.css')
  
  body
    #wrapper
      include ../blocks/header
      main.main
        block content
      include ../blocks/footer
    
    .overlay(style='display: none;')
    .popup.popup-call(style='display: none;')
      .close
        img(src='/static/img/close.svg' alt='')
      .title Заказать обратный звонок
      form#callme-request-form.default-form.lk-form.crm-form(action='/crm/callme-request/')
        input(type='hidden' name='csrfmiddlewaretoken' value='5F1dMAEMYhNJoBwQTd8jBQRyPSO2BdPyPyLxH9ZM4F4KfUp93vaUDk6INxrHlArr')
        input(type='hidden' name='url' value='/catalog/product/')
        .inp-wr
          input.form-control(type='text' name='name' autocomplete='off' placeholder='Как к Вам обращаться' required='')
        .inp-wr
          input.form-control.phone(type='text' name='phone' autocomplete='off' placeholder='+7 (999) 123 45 67' required='')
        input.btn(type='submit' value='Отправить')
        .pol
          | Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с 
          a(href='') политикой конфиденциальности
    .popup.popup-tnx
      .ico
        img(src='/static/img/tnx.svg' alt='')
      .title Сообщение отправлено!
      a.btn.btn-close(href='') ОК
    
    
    //if lt IE 9
      script(src='/static/libs/html5shiv/es5-shim.min.js')
      script(src='/static/libs/html5shiv/html5shiv.min.js')
      script(src='/static/libs/html5shiv/html5shiv-printshiv.min.js')
      script(src='/static/libs/respond/respond.min.js')
    script(src='/static/libs/jquery/jquery-1.11.2.min.js')
    script(src='/static/js/ajax_setup.js')
    script(src='/static/js/owl.carousel.js')
    script(src='/static/js/jquery.mCustomScrollbar.min.js')
    script(src='/static/js/jquery.mask.min.js')
    script(src='/static/js/jcf.js')
    script(src='/static/js/jcf.select.js')
    script(src='/static/js/jcf.file.js')
    script(src='/static/cart/js/cart.js')
    script(src='/static/js/new.js')
    script(src='/static/js/common.js')
    script(src='/static/js/custom.js')
    script(src='/static/catalog/js/catalog.js')
    script(src='/static/crm/js/crm_forms.js')
    script(src='/static/subscription/js/subscription.js')
    

    //newjs
    script(src=href+'/scripts/new.js')

    //helper
    include ../blocks/helper
    